<h1>The <%= @test_passage.test.title %> Test was Comleted </h1>

<% if @test_passage.success? %>
  <p style="color: green"><%= @test_passage.test_result.to_i %>%</p>
  <p>Test was succesful</p>
<% else %>
  <p style="color: red"><%= @test_passage.test_result.to_i %>%</p>
  <p>Test was not succesful</p>
<% end %>
