<p><%= link_to 'banprest Test-guru', 'https://github.com/banprest/test-guru' %></p>
<p>Учебный проект в онлайн-школt <%= link_to 'Thinknetica', 'https://thinknetica.com' %> </p>
<p><%= Time.new.year %></p>